* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
}

body {
  background-color: rgba(15, 14, 14, 0.963);
}
#navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  background-color: rgba(15, 14, 14, 0.963);
  color: white;
  position: sticky;
}
#logo {
  font-size: 1.3em;
}
#logo a {
  text-decoration: none;
  color: rgb(177, 188, 192);
  text-transform: uppercase;
  cursor: pointer;
  padding: 0 1em;
}
#navbar-links {
display: flex;
align-items: center;
justify-content: space-between;
}
#navbar-links ul {
  display: flex;
  gap: 2em;
}
#navbar-links ul li a {
  text-decoration: none;
  font-size: 1.15em;
  font-weight: 600;
  color: beige;
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;
  padding: 0 1em;
  cursor: pointer;
  transition: .3s ease-in-out;
}
#navbar-links ul li a:hover {
  color: rgba(73, 81, 81, 0.809);
}
#menu {
  display: none;
}
#btn {
  text-align: center;
  text-wrap: nowrap;
  border: none;
  outline: none;
  padding: 01em 1.5em;
  border-radius: 2em;
  background-color: azure;
  transition: .3s ease-in-out;
  cursor: pointer;
  font-family: cursive;
  font-weight: 600;
}
#btn:hover {
  background-color: rgb(177, 188, 192);
  color: azure;
}

@media (max-width: 768px) {
  #navbar-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 4.5em;
    left: 0;
    right: 0;
    width: 100%;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.141);
    /* background-color: antiquewhite; */
  }
  #navbar-links ul  {
    flex-direction: column;
    z-index: 10;
    position: absolute;
    top: 2em;
    align-items: center;
    gap: 3em;
  }

  #btn {
    display: none;
  }
  #menu {
    display: grid;
    font-size: 2em;
    padding: 0 1em;
  }
  #logo {
    padding: 0 1em;
  }
}