* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow: hidden;
  width: 100%;
  height: 100vh;
 
}
.header {
  width: 100%;
    color: burlywood;
    height: 50px;
    position: fixed;
    border-bottom: 1px solid gray;
    border-bottom-width: thin;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
}
nav {
  display: flex;
  width: 100%;
  position: fixed;
  height: 40px;
  align-items: center;
  justify-content: space-between;
}
.left{
  width: 25%;
  position: relative;
  left: 36rem;
  top: 1px;
  
}

a.logo {
  color: #7828be;
  position: absolute;
  left: 10rem;
  text-decoration: none;
  font-family: monospace;
  font-size: x-large;
  top: 10px;
  font-weight: 700;
  width: 7%;
  align-items: center;
  display: flex;
  transition: .2s ease-in;
  cursor: pointer;
}

.left ul {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family:cursive;
}
.left ul li {
  list-style: none;
  justify-content: space-between;
}
.left ul li a {
  text-decoration: none;
  font-weight: 100;
  
}
.right{
   width: 7%;
  position: relative;
  right: 9rem;
  height: 25px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.right a {
  /* Add your styles here */
  text-decoration: none;
  color: #7828be;
  border: #9874b8 1px solid;
  width: 80%;
  position: relative;
  padding: 5px;
  display: flex;
  align-items: center;
  font-size: medium;
  font-family: ui-monospace;
  padding-left: 5.6px;
}


/* Responviness */

@media  (max-width:1130px) {
  a.logo {
    left: 7rem;
    width: 10%;
  }
  .left {
    width: 27%;
    left: 28rem;
  }
  .left ul {
    gap: 17px;
  }
}
@media (max-width:1024px) {
  .left {
    width: 33%;
    left: 24rem;
  }
  .right a {
    text-decoration: none;
    color: #7828be;
    border: #9874b8 1px solid;
    width: 5.5rem;
    border-radius: 10px;
    height: 25px;
    position: relative;
    padding: 9px;
    display: flex;
    align-items: center;
    font-size: medium;
    text-wrap: nowrap;
    font-family: ui-monospace;
    padding-left: 8.6px;
    padding-top: 10px;
  }
}
@media (max-width:830px) {
  a.logo{
    width: 20%;
    left: 2rem;
    text-wrap: nowrap;
  }
  .left{
    width: 42%;
        left: 15rem;
  }


}
@media (max-width:750px) {
  .left ul {
    display: none;

  }

}

@media (max-width:460px) {
  a.logo{
    width: 23%;
    left: 2rem;
    font-size: 17px;
    position: relative;
    top: 0.2rem;
    text-wrap: nowrap;
  }
  .header{
    height: 50px;
  }

}
@media (max-width:440px) {
  a.logo{
    width: 23%;
    left: 2rem;
    font-size: 17px;
    position: relative;
    top: 0.2rem;
    text-wrap: nowrap;
  }

}
@media (max-width:265px) {
 a.logo{
  width: 35%;
  left: 22px;
  position: absolute;
  top: 12px;
  }
  
}
/* Main Content */

.main {
  background-color: #202938  ;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  position: relative;
  z-index: -1;
  top: 55px;
}
.Image {
  position: relative;
  left: 35rem;
  top: -3.0rem;
}
.Image img {
  max-width: 350px;
  display: flex;
  position: relative;
  left: 0px;
  border: 1px solid #9874b8;
  border-radius: 175px;
  top: 0rem;
  padding-bottom: 21px;
  align-items: center;
  padding-left: 17px;

}
.text {
  display: flex;
  line-height: 20px;
  gap: 5px;
  align-items:center;
  position: relative;
  left: -13rem;
  top: -2rem;
  width: 30%;
  height: 80%;
  z-index: -2;
}
.text p{
  width: 55%;
  position: relative;
  top: 1.3rem;
  left: -8rem;
  font-size: medium;
  font-family: ui-monospace;
  font-weight: 600;
  color: #bbbac5e3;
  line-height: 19px;
}
h4 {
  position: relative;
  font-size: medium;
  align-items: center;
  top: -7rem;
  display: flex;
  font-weight: bold;
  left: 2rem;
  color: #ffff;}
/* responsivness */
@media (max-width:1024px) {

  .text {
    top: 5rem;
    left: -13rem;
  }
  .Image {
    left: 38rem;
    top: 7rem;
  }
  .Image img {

    position: relative;
        top: 0rem;
                left: 0rem;
  }
}
@media (max-width: 768px) {
 
  .Image {
  left: 0rem;
        top: 0rem;
 } .Image img {
    position: relative;
    left: 8.8rem;
    top: 1.2rem;
  }
  .text {
    top: 30rem;
        left: -5rem;
        width: 45%;
        padding: 20px;

        text-wrap: wrap;
        z-index: 1;
  }
  h4 {
    top: 54px;
    width: 16rem;
    left: 42px;
}
.right a {
  position: relative;
  right: -5rem;
  top: 0.3rem;
}
  
}
@media (max-width:375px) {
  .Image {
    left: 1rem;
    top: -1rem;
  }
.Image img {
  position: relative;
  left: 6rem;
  top: -13rem;
  width: 95%;
}
.text {
  top: 23rem;
  left: -7rem;
  width: 50%;
}
}
/* btn */
.Contact{
  position: relative;
  display: flex;
  right: -20rem;
  top: -4.4rem;
  cursor: pointer;
}
.Contact li{
  list-style: none;
  cursor: pointer;
}
.Contact a {

text-decoration: none;
color: #fff;
border: #d89600 1px solid;
padding: 4.4px;
border-radius: 12px;
font-size: small;
font-family: system-ui;
padding-top: 1.6px;
cursor: pointer;

}  

