* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(26, 22, 22, 0.83) 16%,
    rgba(28, 27, 27, 0.83) 48%,
    rgba(26, 22, 22, 0.83) 75%
  );
  border-radius: 12px;
}
.navbar {
  width: 100vw;
  height: 10vh;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: absolute;
 -webkit-backdrop-filter: blur(20px);   
 backdrop-filter: blur(20px); 
}
#logo a {
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}
ul {
  display: flex;
  list-style: none;
}
ul li a {
  list-style: none;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0 1rem;
  font-size: 0.9rem;
  font-weight: semi-bold;
  cursor: pointer;
}
.active {
    background-color: aqua;
    padding: 0.2em 0.9em;
    border-radius: 10px;
    color: black;
    font-weight: 700;
}